@{
  Layout = "_Layout";
}

<h1>Welcome to the To Do List!</h1>
@* of 3 args first is text, second is target action in the controller and 3rd param is optional it specifies the
controller *@
@* we want to route to *@
<p>@Html.ActionLink("See all Items", "Index", "Items")</p>